.modal-borrar-usuario {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* asegurarse que quede encima de todo */
}

.modal {
  background-color: #fff;
  color: black;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  min-width: 300px;
  max-width: 400px;
  text-align: center;
}
.modal button {
  margin: 5px;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}
.modal button:first-of-type {
  background-color: red;
  color: white;
}
.modal button:last-of-type {
  background-color: gray;
  color: white;
}
